<div class='container-fluid pl-0 pr-0' style="margin-top:11%;">
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-5">
            <!-- Section: Social media -->
            <section class="mb-3">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://www.facebook.com/AKCSE/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://www.akcse.ca/index.php?gt=activ/activ01" role="button" target="_blank"><i class="fab fa-google"></i></a>
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://github.com/SiaH319/AKCSE-Medical-Image-Analysis" role="button" target="_blank"><i class="fab fa-github"></i></a>
            </section>
        </div>



    </footer>
</div>
