<div class='container-fluid pl-0 pr-0' style="margin-top:11%;">
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-5">
            <!-- Section: Social media -->
            <section class="mb-3">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://www.facebook.com/AKCSE/" role="button"><i class="fab fa-facebook-f"></i></a>
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://www.google.com/search?q=Canada-Korea+Conference+%28CKC%29+-+AKCSE&rlz=1C5GCEA_enCA902CA902&sxsrf=ALeKk01Y5XMWFwOBxbxgN1QeoBV7YlcJSA%3A1620793565923&ei=3VibYIXoN8iPtAbmjpmIDQ&oq=Canada-Korea+Conference+%28CKC%29+-+AKCSE&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAEyBwghEAoQoAE6BwgjELADECc6CggAELADEAoQywE6CAgAELADEMsBOgcIABCwAxAEUIz3BViM9wVgyYAGaAFwAHgAgAH8A4gBhAWSAQcwLjEuNS0xmAEAoAECoAEBqgEHZ3dzLXdpesgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwjFyoDGpsPwAhXIB80KHWZHBtEQ4dUDCA4&uact=5" role="button"><i class="fab fa-google"></i></a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://www.instagram.com/akcse_ckc/" role="button"><i class="fab fa-instagram"></i></a>
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating mx-3" href="https://github.com/SiaH319/AKCSE-Medical-Image-Analysis" role="button"><i class="fab fa-github"></i></a>
            </section>
        </div>


    <!-- Copyright -->
    <div class="footer-copyright text-center pb-3">© 2021 Copyright:
        <a href="https://www.akcse.ca/index.php"> AKSCE.com</a>
    </div>
    <!-- Copyright -->

    </footer>
</div>
