<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "header.html" %}
        <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animation.css"/>
        <link rel="icon" href="../static/images/logo.ico">
        <title>Home - AKSCE: Medical Image Analysis Project</title>
    </head>

    <body>

        <!-- NAVIGATION BAR -->
        {% include "navigation-bar.html" %}
    

        <div class="container-fluid">
            <!-- HEADER SECTION -->
            <div class='row' id='header-section-margin'>
                <div class='col-12'>
                    <h2 class='header-caption float-left text-center fade-in'>
                        <p>AKCSE McGill 2020-2021: </p>
                        <p>Medical Image Analysis </p>
                        <p>Project Page</p>
                    </h2>
                </div>
            </div>

            <div class="container-fluid content pl-0 pr-0">
            <!-- MEET THE TEAM SECTION -->
            <div class='row' id='row-meet-team'>
                <div class='col-12'>
                    <h1 class="meet-team-caption">Meet Our Team</h1>
                </div>
            </div>

            <div class='row text-center' id='team-member'>
                <div class='member col-xl-3 col-lg-4 col-md-6 col-sm-12'>
                    <img src="../static/images/member-SiaHam.png" class="profile-img mx-auto">
                    <h4 class='name'>Sia Ham</h4>
                    <p class='role'>VP Software Engineering<br>Project Manager</p>
                    <p class='info'>McGill University, Dec 22<br>
                        Bachelor of Software Engineering<br>
                        📧&nbsp;<i>sia.ham@mail.mcgill.ca</i><br>
                    </p>
                    <a href="{{ url_for('SiaHamGithub') }}"><img src="../static/images/github-logo-white.jpg" class='link-to-external-profile'></a>
                    <a href="{{ url_for('SiaHamLinkedin') }}"><img src="../static/images/linkedin-logo.png" class='link-to-external-profile'></a>
                </div>

                <div class="member col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img src="../static/images/member-DanielKwon.jpg" class="profile-img mx-auto">
                    <h4 class='name'>Daniel Kwon</h4>
                    <p class='role'>VP Neuroscience<br>Project Manager</p>
                    <p class='info'>McGill University, May 22<br>
                        achelor of Science - Neuroscience<br>
                        📧&nbsp;<i>hyeok.kwon@mail.mcgill.ca</i><br>
                    </p>
                </div>

                <div class="member col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img src="../static/images/member-RhinaKim.png" class="profile-img mx-auto">
                    <h4 class='name'>Rhina Kim</h4>
                    <p class='role'>Image Segmenation Team</p>
                    <p class='info'>Concordia University, June 22<br>
                        Bachelor of Computer Science<br>
                        📧&nbsp;<i>rhina.kim@mail.concordia.ca</i><br>
                    </p>
                    <a href="{{ url_for('RhinaKimGithub') }}"><img src="../static/images/github-logo-white.jpg" class='link-to-external-profile'></a>
                    <a href="{{ url_for('RhinaKimLinkedin') }}"><img src="../static/images/linkedin-logo.png" class='link-to-external-profile'></a>
                </div>

                <div class="member col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img src="../static/images/member-JamesSung.png" class="profile-img mx-auto">
                    <h4 class='name'>James Sung</h4>
                    <p class='role'>Data Analysis Team</p>
                    <p class='info'>McGill University, May 2023<br>
                        Bachelor of Science - Neuroscience<br>
                        📧&nbsp;<i>djsung318@gmail.com</i><br>
                    </p>
                    <a href="{{ url_for('JamesSungLinkedin') }}"><img src="../static/images/linkedin-logo.png" class='link-to-external-profile'></a>
                </div>

                <div class="member col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <img src="../static/images/member-AnnaLi.png" class="profile-img mx-auto">
                    <h4 class='name'>Anna Li</h4>
                    <p class='role'>Image Segmenation Team</p>
                    <p class='info'>McGill University, May 22<br>
                        Bachelor of Science - Neuroscience<br>
                        📧&nbsp;<i>anna.li4@mail.mcgill.ca</i><br>
                    </p>
                </div>

                <div class="member col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <img src="../static/images/member-SarahHwang.jpg" class="profile-img mx-auto">
                    <h4 class='name'>Sarah Hwang</h4>
                    <p class='role'>Frontend Web Development Team</p>
                    <p class='info'>McGill University, May 2023<br>
                        Bachelor of Science - Anatomy and Cell Biology<br>
                        📧&nbsp;<i>sara.hwang34@gmail.com</i><br>
                    </p>
                </div>

                <div class="member col-xl-4 col-lg-12 col-md-6 col-sm-12">
                    <img src="../static/images/member-SorbinKim.jpg" class="profile-img mx-auto">
                    <h4 class='name'>Jessica Sorbin Kim</h4>
                    <p class='role'>Frontend Web Development Team</p>
                    <p class='info'>Marianopolis College, May 2021</p>
                </div>
            </div>
        </div>
        </div>

        <!-- FOOTER SECTION -->
        {% include "footer.html" %}


    </body>
</html>