<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!---->
        <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/animation.css"/>
        <link rel="icon" href="../static/images/logo.ico">
    </head>

    <body>

        <!-- NAVIGATION BAR -->
        <nav class="navbar navbar-expand-md navbar-custom sticky-top">
            <!--navbar-brand for Icon-->
            <a class="navbar-brand mr-auto" href="{{ url_for('mainPage') }}">
                <h1 class='text-white'>AKCSE McGill 2020-2021: <br class="hidden-ss">Medical Image Analysis Project</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span> 
                <span class="line"></span> 
                <span class="line" style="margin-bottom: 0;"></span>
            </button>
            <!--now, add elements inside collapsed navbar-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto"><!--ml-auto push the navigation to the right hand side-->
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{{ url_for('mainPage') }}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white go-to-members' href="{{ url_for('members', _anchor='row-meet-team') }}">Members</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Project</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('brainMappingDemo') }}">Demo: Brain Mapping</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('tumorDetectionDemo') }}">Demo: Brain Tumor Detection</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('projectDescription') }}">Project Description</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </body>
</html>