<html lang="en">
   <head>
      {% include "header.html" %}
      <link rel="stylesheet" type="text/css" href="../static/css/stylesheet-project-description.css"/>
      <link rel="stylesheet" type="text/css" href="../static/css/animation.css"/>
      <link rel="icon" href="../static/images/logo.ico">
      <title>Project Description - AKSCE: Medical Image Analysis Project</title>
   </head>
   
   <body>
      <!-- NAVIGATION BAR -->
      {% include "navigation-bar.html" %}

      <div class='container-fluid project-description-section'>
         <h1 class="header-caption"><b>Project Description</b></h1>


         <div class='row'>
            <!-- Column Title -->
            <div class='col-12 pl-0'>
               <p class='project-title'>Dataset</p>
            </div>
            <!-- Column1 -->
            <div class='col-sm-12 col-md-12 col-lg-6 col-xl-6'>
               <!-- Sub-Column1 -->
               <div class='col-12'>
                  <p>Brain Mapping:
                     <ul>
                        <li>
                           <p>Datasets are obtained through google image scraping and from <a href="{{ url_for('dataset1') }}">here</a></p>
                        </li>
                        <li><p>For mask images, JSON files are created by                 
                           <a href="{{ url_for('dataset2') }}">VGG Image Annotator</a>
                           and then converted to png file.</p>
                        </li>
                     </ul>
                  </p>
               </div>
               <!-- Sub-Column2 -->
               <div class='col-12'>
                  <p>Tumor Detection & Classification:
                     <ul>
                        <li>
                           <p>Datasets are obtained from <a href="{{ url_for('dataset3') }}">here</a></p>
                        </li>
                     </ul>
                  </p>
                  <br>
               </div>
               <!-- Sub-Column3 -->
               <div class='col-12'>
                  <p>Data Augmentation:
                     <ul>
                        <li><p>Purpose: the massive increase in the scale of datasets that will be used for training/validation/test process for CNN model and U-Net architecture.</p></li>
                        <li><p>Transformed versions of the original image dataset are created by applying image flip/rotation, changing image contrast, etc.</p></li>
                     </ul>
                  </p>
               </div>
            </div>
            <!-- Column2 -->
            <div class='col-sm-12 col-md-12 col-lg-6 col-lx-6'>
               <img id='img1' src="../static/images/project-description-1.png">
            </div>
         </div>


         <div class='row'>
            <!-- Column Title -->
            <div class='col-12 pl-0'>
               <p class='project-title'>Brain Mapping </p>
            </div>
            <!-- Column1 -->
            <div class='col-sm-12 col-md-12 col-lg-5 col-lx-7'>
               <!-- Sub-Column1 -->
               <div class='col-12'>
                  <p> Input Validation (Image Classification): </p>
                  <p>
                     <ul>
                        <li><p>User input is validified through image classification using the CNN model. Only a valid type of image, sagittal view of brain MRI, can be used for brain mapping.</p></li>
                     </ul>
                  </p>
                  <br>
               </div>
               <!-- Sub-Column2 -->
               <div class='col-12'>
                  <p>Brain Mapping (Image Segmentation): 
                     <ul>
                        <li>
                           <p>U-Net architecture is used for brain mapping. The U-Net architecture was inspired by 
                              <a href="{{ url_for('dataset4') }}">U-Net: Convolutional Networks for Biomedical Image Segmentation</a>. 
                              Between each layer, the size of the layer is reduced to avoid overflow. 
                           </p>
                        </li>
                     </ul>
                  </p>
               </div>
            </div>
            <!-- Column2 -->
            <div class='col-sm-12 col-md-12 col-lg-7 col-lx-5'>
               <img id='img2' src="../static/images/project-description-2.png">
            </div>
         </div>


         <div class='row'>
            <!-- Column Title -->
            <div class='col-12 pl-0'>
               <p class='project-title'>Tumor Detection & Classification</p>
            </div>
            <!-- Column1 -->
            <div class='col-12'>
               <p>Input Validation (Image Classification):
                  <ul>
                     <li><p>User input is validified through image classification using the CNN model. Only a valid type of image, brain MRI (it can be any view), can be used for brain mapping.</p></li>
                  </ul>
               </p>
               <br>
            </div>
            <!-- Column2 -->
            <div class='col-12'>
               <p> Tumor Detection & Classification:
                  <ul>
                     <li><p>Through CNN model image classification, the given image can be classified as one of the following: no tumor, glioma, meningioma, and pituitary.</p></li>
                  </ul>
               </p>
            </div>
         </div>


         <div class='row'>
            <!-- Column Title -->
            <div class='col-12 pl-0'>
               <p class='project-title'>Web Application</p>
               <!-- Column -->
               <p>
                  <ul>
                     <li><p>Application is created using Flask and it is deployed on AWS (tba maybe Heroku??). </p></li>
                  </ul>
               </p>
            </div>

         </div>

      </div>


      <!-- FOOTER SECTION -->
      <div class='container-fluid p-0'>
        {% include "footer.html" %}
      </div>
   </body>
</html>